<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/style-register.css"
    />
    <script src="https://kit.fontawesome.com/e1db1c35d5.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header id="topnavbar">
      <div class="header-principal">
          <div id="logo">
              <a href="/"><img src="./img/logo-mercado-liebre.svg"></a>
          </div>
          <h2 class="text-header">
              <i class="fa-solid fa-hand-holding-dollar"></i>
              Compra en cuotas y sin tarjeta de crédito
          </h2>
      </div>
      <a href="#" class="Btn-hamburguer">
          <i class="fa-solid fa-bars"></i>
      </a>
      <nav class="header-secondary">
          <ul class="navbar-init">
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
          </ul>
          <ul class="navbar-end">
              <li><a href="./register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
              <li><a href="./login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="/">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
      </nav>   
  </header>   
    <main>
      <body>
      <div class="div-formulario"> 
          <form class="formulario">
            <div>
              <label>Nombre y Apellido</label>
              <input type="text" name="nombre" required></input>
            </div>
            <div>
              <label>Nombre de usuario</label>
              <input type="text" name="username" required min-length="4" max-length="10"></input>
            </div>
            <div>
                <label>Fecha de Nacimiento</label>
                <input type="date" name="fecha-nacimiento" required ></input>
            </div>     
            <div>
                <label>Calle</label>
                <input type="text" name="direccion-calle" required></input>
                <label>Altura</label>
                <input type="number" name="direccion-altura" required></input>
            </div>   
            <div class="perfil">
                <label>Perfil del usuario</label>
                <select name="perfil-usuario" class="perfil-usuario" required>
                    <option value="vendedor">Vendedor</option>
                    <option value="comprador">Comprador</option>
                 </select>   
            </div>        
            <div class="categorias-interes" required>
                <label>Categorías de Interés</label>
                <input type="checkbox" name="categorias" id="categorias" value="electro">
                    <label for="categorias">Electro</label>
                <input type="checkbox" name="categorias" id="categorias" value="moda">
                    <label for="categorias">Moda</label>
                <input type="checkbox" name="categorias" id="categorias" value="hogar">    
                    <label for="categorias">Hogar</label>
                <input type="checkbox" name="categorias" id="categorias" value="jugueteria">    
                    <label for="categorias">Juguetería</label>
                <input type="checkbox" name="categorias" id="categorias" value="vida-sana">    
                    <label for="categorias">Vida Sana</label>  
            </div>
            <div>
                <label>Subí tu foto de perfil</label>
                <input type="file" required>
            </div>        
            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" required pattern="[a-z] {6,10}">
            </div> 
            <div>
                <label for="confirmar-contraseña">Confirmar contraseña</label>
                <input type="password" name="confirmar-contraseña" required pattern="[a-z] {6,10}">
            </div>    
            <button type="submit">Registrarse</button>
            <button type="reset">Borrar todo</button>                       
          </form>
     
      </div>
    </main>
  </body>
</html>
