* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

#container{
    display: grid;
    
}

#topnavbar{
    background-color: #FFF159;
    padding: 20px;
}

.header-principal{
    display: block;
}

#logo{
    width: 140px;
    height: 40px;
}

#search-header{
    border: none

}

.content-search{
    background-color: #ffffff;
    width: 300px;
    display: block;
    
}

.text-header{
    text-align: center;
    font-weight: 400;
}

.Btn-hamburguer{
    background-color: #03264c;
    color: #ffffff;
    max-width: 50px;
    display: block;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.header-secondary{
    display: none;
}

#banner-container{
    display: flex;

}


@media (min-width:460px ) {
    .Btn-hamburguer{
        display: none;
    }
    
    .header-principal{
        display: inline-flex;
    }

    .header-secondary  {
        display: flex;
    }
    
    .header-secondary ul {
        list-style: none;
            margin: 0px;
            padding: 0px;
    }
    
    .header-secondary a {
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 5px, 0px;
        font-size: 18px;
    }
    
}

@media (min-width: 768px) {
    

}

